@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@plugin "tailwindcss-animate";

:root {
  /* Gradient background */
  --gradient: linear-gradient(to top left, #D38312, #A83279);

  --background: hsl(37, 54.6%, 3.6%);
  --foreground: hsl(37, 8.4%, 97.25%);

  --muted: hsl(37, 42%, 13.5%);
  --muted-foreground: hsl(37, 8.4%, 54.5%);

  --popover: hsl(37, 48.2%, 5.85%);
  --popover-foreground: hsl(37, 8.4%, 97.25%);

  --card: hsl(37, 48.2%, 5.85%);
  --card-foreground: hsl(37, 8.4%, 97.25%);

  --border: hsl(37, 42%, 13.5%);
  --input: hsl(37, 42%, 13.5%);

  --primary: hsl(37, 84%, 45%);
  --primary-foreground: hsl(37, 8.4%, 97.25%);

  --secondary: hsl(37, 42%, 13.5%);
  --secondary-foreground: hsl(37, 8.4%, 97.25%);

  --accent: hsl(37, 42%, 13.5%);
  --accent-foreground: hsl(37, 8.4%, 97.25%);

  --destructive: hsl(0, 62.8%, 30.6%);
  --destructive-foreground: hsl(37, 8.4%, 97.25%);

  --ring: hsl(37, 84%, 45%);
}

.dark {
  --background: hsl(215, 10%, 10%);
  --foreground: hsl(215, 0%, 100%);
  --card: hsl(215, 0%, 10%);
  --card-foreground: hsl(215, 0%, 100%);
  --popover: hsl(215, 10%, 5%);
  --popover-foreground: hsl(215, 0%, 100%);
  --primary: hsl(215, 100%, 54.3%);
  --primary-foreground: hsl(0, 0%, 100%);
  --secondary: hsl(215, 10%, 20%);
  --secondary-foreground: hsl(0, 0%, 100%);
  --muted: hsl(177, 10%, 25%);
  --muted-foreground: hsl(215, 0%, 65%);
  --accent: hsl(177, 10%, 25%);
  --accent-foreground: hsl(215, 0%, 95%);
  --destructive: hsl(0, 50%, 50%);
  --destructive-foreground: hsl(0, 50%, 50%);
  --border: hsl(215, 20%, 50%);
  --input: hsl(215, 20%, 50%);
  --ring: hsl(215, 100%, 54.3%);
  --radius: 0.3rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

.layout-middle{
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}